@font-face {
    font-family: first-font;
    src: url(/assets/css/00819\ Regular.ttf);
}

#layer1 {
    background-image: url('/assets/images/background1.png');
    width: 100%;
    height: 608px;
    background-size: cover;
    background-repeat: no-repeat;
}

#bt1 {
    background-color: #aab33c;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    font-family: "Quicksand";
    width: 150px;
    height: 40px;
    text-align: center;
}

#frstpage {
    justify-content: end;
    /* background-color: #aab33c; */
    /* float: right; */
}

#tog {
    background-color: #aab33c;
}

#nav a {
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    font-family: "Quicksand";
}

#nav {
    line-height: 50px;
}

/* #content1 {

    width: 400px;
    margin-left: 250px;
    margin-top: 120px;

} */

#c1 {
    font-size: 60px;
    color: rgb(176, 180, 60);
    font-family: first-font;
    /* margin-left: -20px; */
}

#c2 {

    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: quicksand;
    margin-top: -25px;

}

#c3 {

    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: quicksand;

}

#bt2 {
    background-color: #aab33c;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    width: 165px;
    height: 40px;
    font-family: "Quicksand";
}

/* #layer2 {
    width: 100%;
    height: 1200px;
} */

#content2 {

    font-size: 28px;
    line-height: 35px;
    text-transform: uppercase;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";

}

#card1,#card2,#card3,#card4   {
    background-color:rgba(170, 179, 60, 0.302);
}

 

/* #img1 {
    width: 97px;
    height: 83px;
    margin-left: 80px;
    margin-top: 30px;
} */

#p1 {
    font-size: 24px;
    line-height: 28px;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";

}

/* #layer3 {
    height: 600px;
} */

#c31 {
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
}

#c32 {
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";

}

#c33 {
    width: 654px;
    height: 238px;
    font-size: 14px;
    line-height: 24px;
    color: #404142;
    font-weight: 500;
    font-family: "Quicksand";
}

#c34 {
    width: 654px;
    height: 238px;
    font-size: 14px;
    line-height: 24px;
    color: #404142;
    font-weight: 500;
    font-family: "Quicksand";
}

#l3img2{
    background-color:rgba(170, 179, 60, 0.302);
    padding: 13px;
}
#l3img3{
    background-color:rgba(170, 179, 60, 0.302);
    padding: 13px;
}
#l3c1,#l3c2{
font-size: 20px;
line-height: 23px;
text-transform: uppercase;
color: #404142;
font-weight: 700;
font-family: "Quicksand";
}

#layer4{
    background-color:rgba(170, 179, 60, 0.102);
   
}

#l4c1{
font-size: 45px;
line-height: 46px;
color: #404142;
font-weight: 700;
font-family: "Quicksand";
}
#l4c2,#l4c3{
    width: 646px;
    height: 202px;
    font-size: 14px;
    line-height: 24px;
    color: #404142;
    font-weight: 500;
    font-family: "Quicksand";
}