/* page1 styling (layer1) */
@font-face {
    font-family: first-font;
    src: url(/assets/css/00819\ Regular.ttf);
}

#layer1 {
    background-image: url('/assets/images/background1.png');
    width: 100%;
    height: 598px;
    background-size: cover;
    background-repeat: no-repeat;
    
}

#bt1 {
    background-color: #aab33c;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    font-family: "Quicksand";
    width: 150px;
    height: 40px;
    text-align: center;
    border: none;
}

#frstpage {
    justify-content: end;
    /* background-color: #aab33c; */
    /* float: right; */
}

#tog {
    background-color: #aab33c;
}

#nav a {
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    font-family: "Quicksand";
}

#c1 {
    font-size: 60px;
    color: rgb(176, 180, 60);
    font-family: first-font;
    /* margin-left: -20px; */
}

#c2 {

    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: quicksand;
    margin-top: -25px;

}

#c3 {

    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: quicksand;

}

#bt2 {
    background-color: #aab33c;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    width: 165px;
    height: 40px;
    font-family: "Quicksand";
    border: none;
    /* width: 165px;
height: 47px;
background-color: #aab33c; */
}

/* page2 styling layer(2)*/
#content2 {

    font-size: 28px;
    line-height: 35px;
    text-transform: uppercase;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";

}

#card1,
#card2,
#card3,
#card4 {
    background-color: rgba(170, 179, 60, 0.302);
}


#p1 {
    font-size: 24px;
    line-height: 28px;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";

}

/* page3 styling(layer3) */
#c31 {
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
}

#c32 {
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";

}

#c33 {
    width: 654px;
    height: 238px;
    font-size: 14px;
    line-height: 24px;
    color: #404142;
    font-weight: 500;
    font-family: "Quicksand";
}

#c34 {
    width: 654px;
    height: 238px;
    font-size: 14px;
    line-height: 24px;
    color: #404142;
    font-weight: 500;
    font-family: "Quicksand";
}

#l3img2 {
    background-color: rgba(170, 179, 60, 0.302);
    padding: 13px;
}

#l3img3 {
    background-color: rgba(170, 179, 60, 0.302);
    padding: 13px;
}

#l3c1,
#l3c2 {
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
}
/* page4 styling (layer4) */
#layer4 {
    background-color: rgba(170, 179, 60, 0.102);

}

#l4c1 {
    font-size: 45px;
    line-height: 46px;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
}

#l4c2 {
    width: 646px;
    height: 135px;
    font-size: 14px;
    line-height: 24px;
    color: #404142;
    font-weight: 500;
    font-family: "Quicksand";
}

#l4c3,
#l4c4 {
    width: 646px;
    font-size: 14px;
    line-height: 24px;
    color: #404142;
    font-weight: 500;
    font-family: "Quicksand";
}


#l4bt1 {
    width: 235px;
    height: 47px;
    background-color: #aab33c;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Quicksand";
    font-size: 18px;
    border: none;
}
/* page5 styling (layer5) */
#l5c1 {
    font-size: 45px;
    line-height: 46px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Quicksand";
    vertical-align: middle;
}

#l5c2 {
    font-size: 30px;
    line-height: 46px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Quicksand";
}

#l5p1,
#l5p2 {
    width: 168px;
    height: 54px;
    font-size: 13px;
    line-height: 14px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Quicksand";
}

#l5tr1 {
    background-color: #aab33c;

}

tbody {
    font-size: 13px;
    line-height: 14px;
    color: #404142;
    font-weight: 500;
    font-family: "Quicksand";
}

tr:nth-child(even) {
    background-color: rgba(170, 179, 60, 0.3);
}

#l5c3 {
    font-size: 25px;
    line-height: 14px;
    color: #aab33b;
    font-weight: 700;
    font-family: "Quicksand";
}

#l5p3 {
    font-size: 16px;
    line-height: 30px;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
    text-align: right;
}

/* page6 styling (layer6)*/
#l6p1 {
    font-size: 35px;
    line-height: 46px;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
    text-align: center;
}

#l6a1 {
    font-size: 38px;
    line-height: 46px;
    color: #202021;
    font-weight: 700;
    font-family: "Quicksand";
    text-align: center;
    text-decoration: none;
}
#layer6 {
    background-image: url('/assets/images/layer6img1.png');
    /* height: 213px; */
}

/* page7 styling (layer7) */
.--card:hover{
    transform: scale(1.1);
    transition:ease-out ;
  }
  #innercard {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    background-color: #fdffe9;
    margin-left: 50px;
    margin-top:-40px;
    position: relative;
    z-index: 1;
  }
  #outercard123{
    height: 238px;
  }
  #innercardtext {
    flex: 1;
  }
  
  #innerpara {
    margin-top: auto;
    font-size: 13px;
    color: #313132;
    font-weight: 600;
    font-family: "Quicksand";
  }
  /* cards */

  /* footer */
  


/* .card5 {
    background-color: #fdffe9;
    font-size: 14px;
    color: #404142;
    font-weight: 500;
    font-family: "Quicksand";
} */

#l7p1 {
    font-size: 35px;
    line-height: 46px;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
    text-align: center;
}

#l7bt1 {
    font-size: 18px;
    line-height: 100px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Quicksand";
    text-align: center;
    width: 235px;
    height: 47px;
    background-color: #aab33c;
}

/* page8 styling (layer8) */
#layer8 {
    background-image: url('/assets/images/layer8img1.png');
}

#l8p1 {
    font-size: 18px;
    text-transform: uppercase;
    color: #404142;
    font-weight: 700;
    font-family: "open sans ";
}

#l8p2 {

    font-size: 12px;
    line-height: 22px;
    color: #404142;
    font-weight: 400;
    font-family: "Quicksand";
}

#l8a1 a{
font-size: 12px;
text-transform: uppercase;
color: #404142;
font-weight: 400;
font-family: "Quicksand";
text-decoration: none;
line-height: 33px;
}

#l8a2 a{
    font-size: 12px;
    text-transform: uppercase;
    color: #404142;
    font-weight: 400;
    font-family: "Quicksand";
    text-decoration: none;
    line-height: 15px;
    
    }

#l8bt1 {
    background-color: #aab33c;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    font-family: "Quicksand";
    width: 110px;
    height: 40px;
    text-align: center;
    border: none;
}
/* footter styling (layer9) */
.font-2 {
    width: 260px;
    height: 130px;
    font-size: 14px;
    line-height: 22px;
    color: #404142;
    font-weight: 400;
    font-family: "Quicksand";
  }
  
  .font-3 {
    font-size: 70%;
    color: #404142;
    font-family: "Quicksand";
  }
  
  .font-4,
  .font-5 {
    font-size: 70%;
    color: #404142;
    font-weight: 500;
    font-family: "Quicksand";
  }
  
  .font-bg-4,
  .font-bg-5 {
    color: black;
    text-decoration: none;
  }
  
  .font-bg-4:hover,
  .font-bg-5:hover {
    color: #848d00;
  }
  
  .but-footer {
    color: #ffffff;
    background-color: #acb643;
    font-size: small;
    border: none;
  }
  
  .but-footer:hover {
    background-color: #8b9429;
  }

#fav {
    color: #a8b336;
  }
  
  #fav-2 {
    color: white;
  }
  
  .form-control {
    border: none;
    outline: 0px;
  }
  
  #addon-wrapping {
    background-color: #acb643;
  }
  
  #footerid{
    background-color: #aab33c;
  }
  #footertxt{
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  font-family: "Quicksand";
  }
  
  form .error{
    color: #4c5504;
  }
  
#l9p1 {
    font-size: 13px;
    letter-spacing: 2px;
    line-height: 33px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-family: "Quicksand";
}

#l9p2 {
    font-size: 13px;
    letter-spacing: 2px;
    line-height: 33px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-family: "Quicksand";
}

#addon-wrapping{
    background-color: #aab33c; 
}

#l8input1,#l8input2,#l8input3,#l8input4{
    font-size: 14px;
color: #636363;
font-weight: 400;
font-family: "Quicksand";
}

#layer9 {
    background-color: #aab33c;
}

/* @media screen and (min-width:768px) and (max-width:1023px) {
    #computer{
       height: 180px;
       width: 180px;
    }
} */

/* layer6 cards */


  
  